.btn {
    padding: 8px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  
  .btn--outline {
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 8px 20px;
    border: 1px solid #ffffff;
    transition: all 0.3s ease-out;
  }
  
  .btn--medium {
    padding: 8px 20px;
    font-size: 18px;
  }
  
  .btn--large {
    padding: 8px 10px;
    font-size: 15px;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    transition: all 0.3s ease-out;
    background: rgba(179, 152, 34, 0.198);
    color: #ffffff;
    transition: 250ms;
  }
  